/* Make clicks pass-through */
#nprogresse {
  pointer-events: none;
}
#nprogresse .bar {
  background: #00ff00;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
#nprogresse .bar .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #00ff00, 0 0 5px #00ff00;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
#nprogresse .spinner {
  display: block;
  position: fixed;
  z-index: 99999;
  top: 15px;
  right: 15px;
}
#nprogresse .spinner .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00ff00;
  border-left-color: #00ff00;
  border-radius: 50%;
  -webkit-animation: nprogresse-spinner 400ms linear infinite;
  animation: nprogresse-spinner 400ms linear infinite;
}
#nprogresse.error .bar {
  background-color: #ff421a;
}
#nprogresse.error .bar .peg {
  box-shadow: 0 0 10px #ff421a, 0 0 5px #ff421a;
}
#nprogresse.error .spinner .spinner-icon {
  border-top-color: #ff421a;
  border-left-color: #ff421a;
}
.nprogresse-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogresse-custom-parent #nprogresse .spinner,
.nprogresse-custom-parent #nprogresse .bar {
  position: absolute;
}
@-webkit-keyframes nprogresse-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogresse-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
